@model List<KProyecto.EF.ConsultarProductos_Result>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">


    <div class="card-body">
        <h4 class="card-title">Consula de Productos</h4>

        <hr><br />

        <div class="row">
            <div class="col-md-12 text-right pb-2 pr-4">
                <a class="btn btn-info" href="@Url.Action("RegistrarProducto","Producto")">Registrar</a>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

                @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
                {
                    <div class="alert alert-warning text-center">
                        @ViewBag.Mensaje
                    </div>
                }

                <table id="TablaDatos" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th>Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.IdProducto</td>
                                <td>@item.Nombre</td>
                                <td>@item.Descripcion</td>
                                <td>@item.Cantidad</td>
                                <td>@item.Precio</td>
                                <td>@item.Estado</td>
                                <td><img src="@item.Imagen" width="175" height="125" /></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Site/ConsultaProductos.js"></script>