@model List<KProyecto.EF.TProducto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">


    <div class="card-body">
        <h4 class="card-title">Productos Disponibles</h4>

        <hr><br />

        <div class="row">

            <div class="row col-12">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-3">
                        <!-- Máximo 3 por fila desde md -->
                        <div class="card h-100 shadow-sm">
                            <img src="@item.Imagen" class="card-img-top" style="height: 200px; object-fit: contain;" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">@item.Nombre</h5>
                                <p class="card-text">@item.Descripcion</p>

                                <ul class="list-group list-group-flush mb-3">
                                    <li class="list-group-item"><strong>Cantidad:</strong> @item.Cantidad</li>
                                    <li class="list-group-item"><strong>Precio:</strong> ₡@item.Precio.ToString("N2")</li>
                                </ul>

                                <div class="mt-auto text-center">
                                    <button class="btn btn-primary" onclick="AgregarAlCarrito(@item.IdProducto)">
                                        Agregar al carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>

</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Site/PantallaPrincipal.js"></script>